.Card {
  display: flex;
  height: 64px;
  background-color: #282828;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 14px;
    color: #797979;
  }
}